/*table*/
table {
  width: 1900px;
}
.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

/* Table Header*/
.highlighted-header {
  /*background-color: lightsalmon !important;*/
  font-weight: bold;
  color: #333;
  height: 80px;
}

/*Header*/
.expressive-header {
  /*background-color: orchid;*/
  padding: 20px;
  text-align: center;
}

.expressive-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.expressive-header p {
  font-size: 16px;
  color: black;
}

/*Cell template*/
.highlighted-cell {
  background-color: lightcyan;
  font-weight: bold;
}

/*Chechbox*/
.selected-row {
  background-color: pink;
}

/*Horizontal and vertical scrolling*/
.table-container {
  height: 410px;
  width: 1300px;
  max-width: 100%;
  overflow: auto;
}

.demo-table th {    /*column resizing*/
  resize: horizontal;
  overflow: auto;

}

/*Footer*/

.footer {
  background: orchid;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: black;
  font-size: 1em;
}

.footer .row a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}

/*summary*/
.summary-cards {
  display: flex;
  flex-wrap: wrap;
}

.summary-card {
  width: 200px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: aquamarine;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.snackbar {
  position: fixed;
  bottom: 20px;
  left: 70%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 10px;
  background-color: #f44336;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  font-family: Arial, sans-serif;
}

/*clipboard*/

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 30px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.date-picker{
  margin-left: 500px;
}

.expressive-header p {
  font-size: 16px;
  color: black;
}

.export-button {
  margin-right: 10px;
 /* background-color: black !important;*/
  color: #fff !important;
  height: 45px;
  display:flexbox;
}
/*Range Selection*/
.range-selection {
  display: flex;
  align-items: center;
  justify-content: center;

}

.range-selection label {
  display: block;
  margin-bottom: 5px;
}

.range-selection input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 150px;
  margin-bottom: 10px;
}

.range-selection button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.range-selection button:hover {
  background-color: #0056b3;
}

.range-selection button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/*ToolPannel*/

.tool-panel {
  width: 300px;
  background-color: thistle;
}

.tool-panel-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.mat-sidenav-content {
  padding: 20px;
  overflow: auto;
}

.checkboxes.disabled mat-checkbox {
  opacity: 0.5;
  cursor: not-allowed;
}
/*overlay*/
.tool-panel-content {
  padding: 16px;
}

.button-container {
  margin-top: 16px;
}

.button-container:first-child {
  margin-top: 0;
}

/*Column Filter*/
.column-header {
  display: flex;
  align-items: center;
}

.filter-icon {
  margin-right: 12px; /* Adjust the value as per your preference */
}
.filter-icon1 {
  margin-right: 12px; /* Adjust the value as per your preference */
}

.column-name {
  font-weight: bold;
}

.highlighted-cells {
  background-color: yellow;
}

/*Adding comments*/
.comment-tooltip {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color:palegreen;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.comment-button {
  margin-left: 5px;
}

/*conditional formatting*/
.highlighted-cel{
  background-color: rgb(235, 204, 204);
}


/*cell style*/
.hovered-cell {
  border: 3px solid black;
}

/*filter*/
.filter-field {
  position: absolute;
  top: 115px;
  right: 10px;
  width: 200px;
  height: 70px; 
}

/* Grouping rows
.group-header {
  /*background-color: #9fb8b1ef !important; Set your desired background color 
}*/
/*Row Grouping*/
.arrow-button {
  cursor: pointer;
}

.arrow-button:hover {
  color: blue;
}
.continent{
  margin-left: 15px;
}
.population{
  margin-left: 75px;
}
/*Column moving*/ 
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Filter Saving*/
.filter-field {
  margin-bottom: 10px;
}


.recent-searches-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 920px;
  margin-top: 21px;
}
.recent-search-divider {
  height: 1px;
  background-color: #0e0d0d;
  margin-bottom: 10px;
}
.recent-searches {
  display: flex;
  flex-wrap: wrap;
}

.recent-search-button.highlighted {
background-color: #007bff;
color: #fff;
}


.recent-search-button {
  margin-right: 5px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.delete-icon {
  margin-left: 10px;
  cursor: pointer;
}

.predefined-button {
  display: flex; 
  flex-direction: column;
  margin-bottom: 8px; /* Add a margin of 8px between each predefined button */
}
/* Add styles for the highlighted button */
.predefined-button.highlighted {
background-color: #007bff;; /* Replace with your desired highlight color */
}

/* dashboard.component.css */
#barChart {
margin-top: 20px;
}








